@import "tailwindcss";

@theme {
  --color-balatro-mult: #fe5f55;
  --color-balatro-chips: #009dff;
  --color-balatro-money: #f3b958;
  --color-balatro-attention: #ff9a00;
  --color-balatro-orange: #fda200;
  --color-balatro-gold: #eac058;
  --color-balatro-black: #374244;
  --color-balatro-light-black: #4f6367;
  --color-balatro-grey: #5f7377;
  --color-balatro-joker: #708b91;
  --color-balatro-tarot: #a782d1;
  --color-balatro-planet: #13afce;
  --color-balatro-spectral: #4584fa;
  --color-balatro-voucher: #fd682b;
  --color-balatro-edition: #4ca893;
  --color-balatro-enhanced: #8389dd;
  --color-balatro-red: #ff4c40;
  --color-balatro-redshadow: #a92b23;
  --color-balatro-blue: #009dff;
  --color-balatro-blueshadow: #005caa;
  --color-balatro-green: #35bd86;
  --color-balatro-greenshadow: #1b7954;
  --color-balatro-purple: #aa5bb5;
  --color-balatro-purpleshadow: #6d3574;
  --color-balatro-transparentblack: #00000060;
  --color-balatro-lightgrey: #b9c2d2;
  --color-balatro-lightgreyshadow: #777e89;
  --color-balatro-whiteshadow: #aaaaaa;
  --color-balatro-buttonshadow: #1e2f32;
  --color-balatro-blackshadow: #0b1415;
  --color-balatro-white: #ffffff;

  --color-mint-lighter: #6cb79a;
  --color-mint-light: #59a487;
  --color-mint: #469274;
  --color-mint-dark: #3c7f65;
  --color-mint-darker: #336d57;

  --color-white-lighter: #d8dfe8;
  --color-white-light: #cbd3de;
  --color-white: #bec7d4;
  --color-white-dark: #aab4c2;
  --color-white-darker: #96a1b0;

  --color-black-lighter: #3a4c53;
  --color-black-light: #2f4047;
  --color-black: #26353b;
  --color-black-dark: #1e2b30;
  --color-black-darker: #161e21;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track-piece {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(126, 211, 181, 0.3);
  border-radius: 3px;
  transition: all 0.2s ease;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(126, 211, 181, 0.6);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(126, 211, 181, 0.8);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(126, 211, 181, 0.3) transparent;
}